
# Created by https://www.gitignore.io/api/ansible,windows,osx

kvs.json*
.cleanup/*
tmppacker*

.vs/*

### Sandbox: anything in that directory will be ignored
sandbox/
.vscode/

.vagrant
*/packer_cache/*
*packer_iso*

.pe_build
*.dpkg-dist
*.rpmnew

### PyCharm ###
.idea/

### Python ###
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

### Ansible ###
*.retry

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/ansible,windows,osx
